<div class="getBurger" id={{id}}>
    <img src="/public/Assets/Media/DaFavs.png" alt="">
    
    <p>{{Burger_name}}</p>
    
    <button class="btn btn-default favorites" data-id="{{id}}" data-state="{{is_favorite}}">
        {{#if is_favorite}}
            
            YUCK!
            
            {{else}}
                
                Da Favs!
                
        {{/if}}
    </button>
</div>