<div class="getBurger" id={{id}}>
    <img src="/Assets/Media/DaFavs.png" alt="">
    
    <p>{{Burger_name}}</p>
    
    <button class="devour" data-id="{{id}}" data-state="{{Devour}}">Devour</button>
    
    <button class="fav" data-id="{{id}}" data-state="{{is_favorite}}">Da Favs</button>
    
    <button class="yuck" data-id="{{id}}" data-state="{{delete}}">Delete</button>

    {{#each id}}
        {{#if is_favorite}}
        
            Da Favs
            
            {{else}}
                
                YUCK!
                
        {{/if}}
    {{/each}} 
</div>