<div class="flex-container">
    {{!-- This is my Menu created section, which should appear on the left side of my page.  Buttons are included to populate with each burger: in order to give the user the oprion to "delete" the burger; or the user can choose to  devour it. --}}
    <div class="flex-child menu">
    Menu Requested
    </div>

    <div class="menu-section">
        {{#each burgers}}
            {{#unless devoured}}
                <div class="Burger" data-id="{{id}}">

                    <p>{{burger_name}}</p>

                    <button class="devoured" data-id="{{id}}" data-state="{{devoured}}">Devour</button>
                    
                  
                </div>
            {{/unless}}
        {{/each}}
    </div>

<hr>
    {{!-- This is my Devoured section, which should appear on the right side of my page.  Buttons are included to populate with each burger: in order to give the user the oprion to "delete" the burger; or the user can choose to  remake it. --}}
    <div class="flex-child devoured">
    Devoured
    </div>

    <div class="devoured-section">
        {{#each burgers}}
            {{#if devoured}}
                <div class="Burger" data-id="{{id}}">
                    
                    <p>{{burger_name}}</p>

                    <button class="notDevoured" data-id="{{id}}" data-state="{{devoured}}">Return To Menu</button>
                    
                    <button class="yuck" data-id="{{id}}" data-state="{{delete}}">Delete</button>
                </div>
            {{/if}}
        {{/each}}
    </div>
</div>