<div class="getBurger" id={{id}}>
    <img src="/Assets/Media/DaFavs.png" alt="">
    
    <p>{{Burger_name}}</p>
    
    <div>  
        Devoured
    </div>

    <div>
        {{#each burger}}
            {{#unless devoured}}
                <div>
                    {{this.id}}: {{this.burger}}
                </div>

                <button class="devour" data-id="{{id}}" data-state="{{Devour}}">Devour</button>  
            {{/unless}}
        {{/each}}
    </div>

    

    <div>
        Not Devoured 
    </div>
        
    <div>
        {{#each id}}
            {{#if not_devoured}}
                <div>
                    {{this.id}}: {{this.burger}}
                </div>  
        
            <button class="fav" data-id="{{id}}" data-state="{{not_devoured}}">Not Devoured</button>
            
            {{else}}
                
                Yuck!

                <button class="yuck" data-id="{{id}}" data-state="{{delete}}">Delete</button>
                
            {{/if}}
        {{/each}}
    </div>