<div class="container">
    <div class="container-fluid mb-4" align="left">
        <div class="col-md-4">
            <section class="burgerMenu">
                <div class="card md mb-3">
                    <h2 class="card-header" align="center">Burger Menu</h2> 
                </div>
                
                <div class="card-body">
                    <ul>
                        {{#each id}}
                            {{#unless devoured}}
                                
                                {{>id/id-block devoured=true}}
                                
                            {{/unless}}
                        {{/each}}

                        <button class="devour" data-id="{{id}}" data-state="{{Devour}}">Devour</button>  

                        <button class="yuck" data-id="{{id}}" data-state="{{delete}}">Delete</button>
                    </ul>
                </div>
            </section>
        </div>
    </div>


    <div class="container-fluid mb-4" align="right">
        <div class="col-md-4">
            <section class="devoured">
                <div class="card md mb-3">  
                    <h2 align="center">Devoured</h2>
                </div>
                

                <div>
                    <ul>
                        {{#each id}}
                            {{#if devoured}}
                                
                                <li>
                                    {{this.id}}
                                </li>

                                
                            {{/if}}
                        {{/each}}
                    </ul>

                    <button class="remake" data-id="{{id}}" data-state="{{not_devoured}}">Make again</button>
                
                    <button class="yuck" data-id="{{id}}" data-state="{{delete}}">Delete</button>
                </div>
            </section>
        </div>
    </div>
</div>