<div class="getBurger" id={{id}}>
    {{!-- <img src="/Assets/Media/DaFavs.png" alt=""> --}}

    <section class="burgerMenu">
        <div>
            <h2 align="center">Burger Menu</h2> 
        </div>
        
        <div>
            <ul>
                {{#each id}}
                    {{#if not_devoured}}
                        <div>
                            {{this.id}}
                        </div>  
                
                        <button class="devour" data-id="{{id}}" data-state="{{Devour}}">Devour</button>  

                        <button class="yuck" data-id="{{id}}" data-state="{{delete}}">Delete</button>
                        
                    {{/if}}
                {{/each}}
            </ul>
        </div>
    </section>

    
    <section class="Devoured">
        <div>  
            <h2 align="center">Devoured</h2>
        </div>
        

        <div>
            <ul>
                {{#each id}}
                    {{#unless devoured}}
                        <div>
                            {{this.id}}
                        </div>

                        <button class="remake" data-id="{{id}}" data-state="{{not_devoured}}">Make again</button>

                        <button class="yuck" data-id="{{id}}" data-state="{{delete}}">Delete</button>
                    {{/unless}}
                {{/each}}
            </ul>
        </div>
    </section>
</div>